body {
  margin: 0;
  padding: 0;
}

h1 {
  color: brown;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

#inputID {
  height: 30px;
  border: none;
  background-color: antiquewhite;
}

.btn {
  margin-left: 8px;
  height: 30px;
  border: none;
}

.btn:hover {
  background-color: aliceblue;
}